//BASE AND RESETS STYLES

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

html {
  font-family: $fontFamily;
  background-color: $background;
  position: relative;
  font-style: normal;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
}

::selection {
  color: $selectionColor;
  background-color: $selectionBg;
}

body {
  margin: 0;
  font-size: $fontSize;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
  font-weight: inherit;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  touch-action: manipulation;
  &:hover,&:active,&:visited,&:focus {
    text-decoration: none;
  }
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  touch-action: manipulation;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}