//CONTAINER

.container {
  width: 100%;
  max-width: 100%;
  display: block;
  padding-left: $columnsSpace / 2;
  padding-right: $columnsSpace / 2;

  @include break($screen-xs) {
    width: convert($screen-xs);
    margin-left: auto;
    margin-right: auto;
  }

  @include break($screen-sm) {
    width: convert($screen-sm);
  }

  @include break($screen-md) {
    width: convert($screen-md);
  }

  @include break($screen-lg) {
    width: convert($screen-lg);
  }

  @include break($screen-xl) {
    width: convert($screen-xl);
  }

}

//ROW
.row {
  @include rowInit($columnsSpace);
}

//base style of columns
.column {
  flex: 1 1 0%;
  max-width: 100%;
  padding-left: $columnsSpace / 2;
  padding-right: $columnsSpace / 2;
}

//make grid according to breakpoints
@include gridInit($columns, "xs");

@include break($screen-xs) {
  @include gridInit($columns, "sm");
}

@include break($screen-sm) {
  @include gridInit($columns, "md");
}

@include break($screen-md) {
  @include gridInit($columns, "lg");
}

@include break($screen-lg) {
  @include gridInit($columns, "xl");
}

@include break($screen-xl) {
  @include gridInit($columns, "xxl");
}