//media wrappers for responsive images, embed videos, HTML5 <videos>

%c-mediaWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 0;
  img, iframe, video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.c-mediaWrapper-21_9 { //21:9 ratio
  @extend %c-mediaWrapper;
  padding-bottom: 9 / 21 * 100%;
}

.c-mediaWrapper-16_9 { //16:9 ratio
  @extend %c-mediaWrapper;
  padding-bottom: 9 / 16 * 100%;
}

.c-mediaWrapper-4_3 { //4:3 ratio
  @extend %c-mediaWrapper;
  padding-bottom: 3 / 4 * 100%;
}

.c-mediaWrapper-1_1 { //1:1 ratio
  @extend %c-mediaWrapper;
  padding-bottom: 100%;
}



